<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
        <!-- META DATA -->
    <meta name="description" content="{{ Page.MetaDescription }}">
	<meta name="keywords" content="{{ Page.MetaKeywords }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    {{ Blocks |> render('head-scripts') }} 
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    
    {{ "styles" |> partial }}

    <link rel="canonical" href=".">
    <title>{{ Title }}</title>
</head>

<body>
    {{ Blocks |> render('body-init') }}
    <div id="top"></div>
    <div class="wrapper">
    {{ page }}
    </div>

    <div class="footer-section">
        <div class="footer-section-bg-graphics">
            <img src="assets/images/footer-section-bg.png">
        </div>
        <!-- Footer Column 1 -->
        <div class="container footer-container">
            <!-- Footer Column 2 -->
            <div class="col-lg-3 col-md-6 footer-subsection">
                <h3 class="footer-subsection-title">Contact Us</h3>
                <ul class="footer-subsection-list">
                    <li>{{ Store.StreetAddress }}<br>{{ Store.City }} {{ Store.State }} {{ Store.PostalCode }}</li>
                    <li>{{ Store.PhoneNumber }}</li>
                    <li>{{ Store.EmailAddress }}</li>
                </ul>	
            </div>
        </div>
        <!-- FOOTER CREDITS -->
        <div class="container footer-credits">
            <p>{{ Store.Impressum }}</p>
        </div>
    </div>

    {{ Blocks |> render('tail-scripts') }}

    <!-- FOOTER SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Header scroll -->
		<script type="text/javascript">
            $(window).scroll(function() {
                if ($(this).scrollTop() > 20) {
                  $('#navbar').addClass('header-scrolled');
                } else {
                  $('#navbar').removeClass('header-scrolled');
                }
              });		
    </script>
</body>

</html>