<div class="header">
    <div class="container header-container">
        <div class="header-title-section">
            {{#truthy Callout}}
            <p class="header-subtitle">{{ Callout }}</p>
            {{/truthy}}
            <h1 class="header-title">{{ Headline }}</h1>
            {{#truthy SubHeadline}}
            <p class="header-title-text">{{ SubHeadline }}</p>
            {{/truthy}}
        </div>
    </div>
</div>