{{ Picture |> toResponsiveImage |> to => resp }}
<div class="container header-container">
    <div class="col-lg-4 col-md-8 col-xs-10 blog-post-card-container">
        <div class="blog-post-card">
            <div class="blog-post-icon">
                <img src="{{resp.Src}}">
            </div>
            <h3 class="blog-post-title">{{Name}}</h3>
            <h4 class="blog-post-subtitle">{{Date}}</h4>
            <p class="blog-post-text">{{Testimonial}}</p>
        </div>
    </div>
</div>
