<div class="container pricing-container">
    <div class="pricing-title">
        <h3>{{ Title }}</h4>
        <p>{{ Body }}</p>
    </div>

    <div class="pricing-plan-cards-section">
        <div class="col-lg-7 col-md-8 col-xs-12 pricing-card-section">
            <div class="pricing-card">
                <div class="feature-benefit-list">
                    {{#ul {each:Items} }}
                        <li class="fb-list-item">
                            <i class="fa fa-{{ it.Icon }} fb-list-icon"></i>
                            <span class="fb-list-item">
                                <b>{{it.Feature |> raw}}</b> 
                                <span>{{ it.Benefit }}</span>
                            </span>
                        </li>
                    {{/ul}}
                </div>
            </div>
        </div>
    </div>
</div>