{{#once 'analytics'}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ Tag }}"></script>
{{/once}}
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

gtag('config', '{{ Tag }}');
</script>