{{#once 'analytics'}}
<script>
    (function(name,path,ctx){ctx[name]=ctx[name]||{ready:function(fn){var h=document.getElementsByTagName('head')[0],s=document.createElement('script'),w=window,loaded;s.onload=s.onreadystatechange=function(){if((s.readyState&&!(/^c|loade/.test(s.readyState)))||loaded){return}s.onload=s.onreadystatechange=null;loaded=1;ctx[name].ready(fn)};s.async=1;s.src=path;h.parentNode.insertBefore(s,h)}}})
    ('KeenTracking', 'https://cdn.jsdelivr.net/npm/keen-tracking@latest/dist/keen-tracking.min.js', this);
</script>
{{/once}}
<script>
    KeenTracking.ready(function(){
      const client = new KeenTracking({
        projectId: '{{ ProjectId }}',
        writeKey: '{{ writeKey }}'
      });
  
      // Record an event
      client.recordEvent('pageview', {});
    });
</script>