{{ Body |> toResponsiveImage |> to => resp }}

<div class="content full-bottom">
  <img class="responsive-img"
    src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
    width="{{ resp.Width }}"
    height="{{ resp.Height }}"
    layout="responsive"
    alt="{{ resp.Alt }}"
    srcset="{{ resp.Src }} {{ resp.Width }}w, {{ resp.SrcSetAttribute }}">
  </img>
</div>