<div class="header">
    <div class="container header-container">
        <div class="header-title-section">
            <h4 class="header-title">{{ Title }}</h4>
            <p class="header-title-text">{{ Body }}</p>
            <div class="learn-more-btn-section">
                <a href="#" class="nav-link learn-more-btn btn-invert">{{ CallToAction }}</a>
            </div>
        </div>
    </div>
</div>