{{#if Style == "unordered"}}
  {{#ul {each:Items, class:'full-bottom'} }}
    <li>{{it |> raw}}</li>
  {{/ul}}
{{else}}
  {{#ol {each:Items, class:'full-bottom'} }}
    <li>{{it |> raw}}</li>
  {{/ol}}
{{/if}}